@page "/bbc-zh-taiwan_letters-tw"

@using Diademos.Data
@using CodeHollow.FeedReader;
@using System.Web;

<head>
    <title>Taiwan Reports</title>
</head>

<h1>BBC Chinese (Traditional)</h1>

@if (newsArticles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="@ShowLess">-</button>
    <button @onclick="@ShowMore">+</button>

    <div class="feedBody">
        @foreach (var article in newsArticles)
        {
            <a href=@article.URL>
                <div class="newsEntry">
                    <p class="articleDate">@article.DatePublished</p>
                    <p class="articleTitle">@article.Title</p>
                    <div class="articleThumbBox">@((MarkupString)article.Thumbnail)</div>
                    <p class="articleSummary">@article.Summary</p>
                    <!--<div>@((MarkupString)article.Contents)</div>-->
                    <p class="articleTags">
                        @foreach (var tag in article.Tags)
                        {
                        <p class="articleTag">@tag</p>
                    }
                        </p>
                    </div>
                <br />
            </a>
        }
    </div>

}

@code {
    Article[] newsArticles;
    int feedInd = 0;
	int numOnPage = 2;

    void ShowMore()
    {
        feedInd += 10;
		OnInitializedAsync();
    }
	void ShowLess()
    {
		if(feedInd >= 10){
			feedInd -= 10;
			OnInitializedAsync();
		}
    }

    
    protected override async Task OnInitializedAsync()
    {
        newsArticles = await News.GetArticlesAsync("http://www.bbc.co.uk/zhongwen/trad/taiwan_letters/index.xml", "BBC Chinese", feedInd, numOnPage);
    }
}
