@page "/bbc-zh-home-tw"

@using Diademos.Data
@using CodeHollow.FeedReader;
@using System.Web;

<head>
    <title>BBC Chinese (Traditional)</title>
</head>

<h1>BBC Chinese (Traditional)</h1>

@if (newsArticles == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="feedBody">
        @foreach (var article in newsArticles)
        {
            <a href=@article.URL>
                <div class="newsEntry">
                    <p class="articleDate">@article.DatePublished</p>
                    <p class="articleTitle">@article.Title</p>
                    <div class="articleThumbBox">@((MarkupString)article.Thumbnail)</div>
                    <p class="articleSummary">@article.Summary</p>
                    <!--<div>@((MarkupString)article.Contents)</div>-->
                    <p class="articleTags">
                        @foreach (var tag in article.Tags)
                        {
                            <p class="articleTag">@tag</p>
                        }
                    </p>
                </div>
                <br />
            </a>
        }
    </div>

}

@code {
    Article[] newsArticles;
    
    protected override async Task OnInitializedAsync()
    {
        newsArticles = await News.GetArticlesAsync("http://www.bbc.co.uk/zhongwen/trad/index.xml", "BBC Chinese");
    }
}
